@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

nav, section {
    width: 100%;
}

section {
    height: 100vh;
}

.nav__container {
    display: flex;
    justify-content: space-between;
    margin: 24px 108px;
}

.logo {
    width: 200px;
    height: 50px;
}

.sign-in {
    border: none;
    background-color: #240375;
    color: #fff;
    border-radius: 30px;
    font-weight: bold;
    padding: 14px 28px;
    cursor: not-allowed;
}

.main-page, .sec__container, .page {
    display: flex;
    justify-content: space-around;
    position: relative;
    left: 40px;
}

.page {
    top: 200px;
}

.left-side {
    width: 521px;
    position: relative;
    top: 60px;
}

.first-header {
    font-size: 24px;
    color: #240375;
    letter-spacing: 2px;
    font-weight: 300;
}

.second-header {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 300;
    margin: 30px 0;
}

.para {
    font-size: 22px;
    margin-bottom: 30px;
}

.main__img {
    width: 680px;
    height: 510px;
}

.chat__btn {
    width: 48px;
    font-size: 32px;
    border: none;
    height: 48px;
    position: fixed;
    border-radius: 15%;
    bottom: 24px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.28);
    background-color: #0055FF;
    color: #fff;
    cursor: not-allowed;
}

.sec__container {
    margin-top: 64px;
}

.desc {
    max-width: 400px;
    position: relative;
    right: 125px;
}

.desc__header {
    font-size: 25px;
    margin: 30px 0;
    letter-spacing: 2px;
}

.desc__point {
    font-size: 19px;
    margin-bottom: 16px;
}

.lefty, .lefty-img {
    width: 521px;
    position: relative;
    top: 140px;
}

.lefty-img {
    right: 80px;
}

.righty {
    width: 403px;
    position: relative;
    top: 200px;
}

.link {
    font-size: 20px;
}